[submodule ".vim/bundle/pydoc"]
	path = .vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule ".vim/bundle/VimDebugger"]
	path = .vim/bundle/VimDebugger
	url = git://github.com/taxilian/VimDebugger.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = git://github.com/bloveridge/pyflakes-vim.git
[submodule ".vim/bundle/jslint.vim"]
	path = .vim/bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = https://github.com/sjbach/lusty
[submodule ".vim/bundle/checksyntax_vim"]
	path = .vim/bundle/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/pydoc.vim"]
	path = .vim/bundle/pydoc.vim
	url = git://github.com/fs111/pydoc.vim.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git@github.com:hameedullah/snipmate-snippets.git
[submodule ".vim/bundle/Pydiction"]
	path = .vim/bundle/Pydiction
	url = https://github.com/hameedullah/Pydiction
